<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<br>
<br>
<br>
<br>

<div class="container mt-5">
    
    <div class="row">
      <div class="col-md-3">


        <div class="card mb-3">
            <img src="/images/malick.jpg" class="card-img-top" alt="...">
        </div>


    </div>
    <div class="col-md-9">

        <div class="card">
            <div class="card-body">
                <h5>A PROPOS DE MOI</h5>
                <hr>
                <p>Je m'appelle Malick Siguy NDIAYE, passionné par les nouvelles technologies avec un intérêt particulier pour le monde du numérique, j'ai déja acquis quelques compétences en développement front-end et en graphisme via différentes formations sur les plateformes de l'openClassrooms et de l'udemy. <br>Je suis actuellement en formation en développement web et mobile avec Xarala Academy pour une durée de 3mois. A la fin de cette formation j'aurais réaliser 12 projets..</p> 
            </div>
        </div>

    </div>



<%- include("./partials/footer") %>